<%- include('site-header') -%>
	<section id="main"><%- content -%></section>
	<section id="side-nav"><%- content -%></section>
	<section id="root"><%- content -%></section>
<%- include('site-footer') -%>
